*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(238, 235, 232, 0.1);
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  font-weight: 100;
}
h1 {
  font-size: 1.4rem;
  font-weight: 100;
}

h2 {
  font-size: 1.4rem;
  font-weight: 100;
  margin-top: 5rem;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

.txt-center {
 text-align: center;
}
.m-2 {
  margin: 2rem;
}

.img-resp-center {
  width: 20%;
  height: auto;
  margin: 0 auto;
  display: block;
}

